body {
  display: grid;
  height: 100vh;
  place-items: center;
}

.scene {
  width: 300px;
  height: 200px;
  perspective: 500px;
}

.box {
  width: 300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
}

.box__face--front,
.box__face--back {
  position: absolute;
  width: 300px;
  height: 200px;
}

.box__face--right,
.box__face--left {
  left: 100px;
  width: 100px;
  height: 200px;
  position: absolute;
}

.box__face--front {
  transform: rotateY(0deg) translateZ(50px);
}

.box__face--back {
  transform: rotateY(180deg) translateZ(50px);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.box__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(100px);
}

.box__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.box__face--top,
.box__face--bottom {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50px;
}
