* {
  user-select: none;
}
body {
  display: grid;
  place-items: center;
  grid-template-rows: 200px min-content;
  height: 100vh;
  color: white;
  font-size: 20px;
  background-color: gray;
}
#yAxis {
  cursor: pointer;
  background-color: red;
}

.scene {
  perspective: 400px;
  width: 200px;
  height: 200px;
}

.cube {
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.cube__face {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cube__face--front {
  background-color: rgba(105, 0, 0, 0.4);
  transform: translateZ(100px);
}

.cube__face--back {
  background-color: rgba(105, 100, 0, 0.4);
  transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
  background-color: rgba(0, 100, 200, 0.4);
  transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--right {
  background-color: rgba(0, 100, 100, 0.4);
  transform: rotateY(90deg) translateZ(100px);
}

.cube__face--top {
  background-color: rgba(200, 120, 200, 0.4);
  transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
  background-color: rgba(100, 200, 200, 0.4);
  transform: rotateX(-90deg) translateZ(100px);
}

.cube.show-front {
  transform: translateZ(-100px);
}

.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}

.cube.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}
