body {
  height: 100vh;
  width: 900px;
  background-color: gray;
}

.scene {
  margin: 100px auto;
  perspective: 400px;
  perspective-origin: 50% 0%;
  width: 200px;
  height: 200px;
}

.plane {
  width: 100%;
  height: 100%;
}

.blue {
  background-color: rgba(0, 100, 300, 0.3);
  transform-origin: center bottom;
  transform: rotateY(45deg) rotateX(-90deg);
}

.red {
  background-color: rgba(100, 0, 100, 0.3);
  border: 1px solid black;
  transform: rotateY(45deg);
}

.yellow {
  background-color: rgba(200, 200, 0, 0.4);
  transform: rotateY(45deg);
}
